<!DOCTYPE html>
<html  >
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
</head>
<body>
<h1>百度地图测试</h1>
<ul>
    <li><a href="templates/bd/helloworld.html">hello world 2018-5-4</a><button type="button" onclick="showBD()">预览</button> </li>
</ul>

<h1>天地图测试</h1>
<ul>
    <li><a href="templates/tdt/tdt.html">天地图-临海 2018-5-4</a></li>
</ul>
<h1>例子</h1>
<ul>
    <li><a href="templates/samples/Attr_Inspector.html">attribute inspector</a></li>
</ul>
<ul>
    <li><a href="templates/samples/AccessData_ArrayBuffer.html">通过ArrayBuffer访问数据</a></li>
</ul>
<ul>
    <li><a href="templates/samples/BasemapGallery.html">天地图底图切换</a></li>
</ul>
<script>
    function showBD(){

        window.location='templates/bd/helloworld.html';
    }
</script>
</body>
</html>